<form action="/camp/new" method="POST">
    <div>
        <label for="department" style="padding: 10px">Department:</label>
        <input type="text" name="department" placeholder="CSE/ENTC/CE/MT/ME">
    </div>
    <div>
        <label for="module" style="padding: 10px">Module:</label>
        <input type="text" name="module" placeholder="e.g: Mathematics">
    </div>

    <div>
        <label for="date" style="padding: 10px">Date of Exam:</label>
        <input type="text" name="date" placeholder="dd/mm/yyyy">
    </div>

    <div>
        <label for="time" style="padding: 10px">Time:</label>
        <input type="text" name="time" placeholder="e.g: 8.30 a.m - 10.30 a.m">
    </div>

    <div>
        <label for="venue" style="padding: 10px">Venue:</label>
        <input type="text" name="venue" placeholder="Old Gym">
    </div>
    <button>Submit</button>

</form>